{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="hero-area" class="hero-area-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">500</h2>
                <p>Infelizmente houve um erro interno, tente mais tarde. </p>
                  <p>ou</p>
                  <p>Entre em contato com o Administrador</p>
                <div class="header-button">
                  <a href="{% url 'index' %}" class="btn btn-common">volte a pagina inicial</i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Area wrapper End -->


{% endblock %}